<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <br />
    <br />
    <div class="container">
        <h3>Fill the form and proceed to checkout.</h3>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="form" method="POST" action='/checkout'>
                        <div id="user-info">
                            <div class="form-field">
                                <label for="name">Name</label>
                                <input required class="form-control" type="text" name="name" placeholder="Name" value="<%= user.displayName %>" disabled >
                            </div>
                            <div class="form-field">
                                <label for="email">Email</label>
                                <input required class="form-control" type="email" name="email" placeholder="Email" value="<%= user.email %>" disabled>
                            </div>
                        </div>

                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <label for="Number">Number</label>
                                <input class="form-control" type="text" name="Number" placeholder="Number" value="<%= user.phoneNumber %>" disabled>
                            </div>
                            <div class="form-field">
                                <label for="address">Address</label>
                                <input class="form-control" type="text" name="address" placeholder="Address" value="<%= address %>">
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Make Payment">
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="/cart">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>

                    <% cart.products.forEach(function(item){%>
                        <div class="cart-row">
    
    
                            <div style="flex:2"><img class="row-image" src="<%= item.image_url %>" /></div>
    
    
                            <div style="flex:2">
                                <p><%= item.item_name %></p>
                            </div>
                            <div style="flex:1">
                                <p>&#8377;<%= item.price %></p>
                            </div>
                            <div style="flex:1">
                                <p><%= item.qty_purchased %></p>
                            </div>
                            <div style="flex:1">
                                <p>&#8377;<%= item.price * item.qty_purchased %></p>
                            </div>
                        </div>
                        <%})%>
    

                    <h5>Items: <%= cart.itemCount %></h5>
                    <% var total = 0 %>
                    <h5>Delivery Charges: 50</h5>
                    <% cart.products.forEach(item=>{total+=item.price * item.qty_purchased})%>
                    <h5>Total: &#8377;<%= total+50 %></h5>

                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>

</html>