


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>
<style>
    table, tr, td, thead, tbody {
        border: 1px solid gray;
    }

    ::-webkit-scrollbar{
        display: none;
    }
</style>
<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <br />
    <br />
    <div class="container">
        <div class="jumbotron" style="background-image: url('/images/BG-1.jpg'); background-position: center; background-size: cover;">
            <br><br><br><br><br><br><br>
            <div class="row-lg-12 text-center mx-auto" style="position: absolute; left: 0; right: 0;">
                <% if(user.photoURL!=null){%>
                    <img src="<%= user.photoURL %>" style="width: 130px; height: 130px; object-fit: cover; object-position: top; border: 4px solid white;" alt="John Doe" class="card-img-top rounded-circle">
                <% } else {%>
                    <img src="images/profile.webp" style="width: 130px; height: 130px; object-fit: cover; object-position: top; border: 4px solid white;" alt="John Doe" class="card-img-top rounded-circle">
                    <% }%>
                <h3 class="display-4 p-3"><%= user.displayName %></h3>
            </div>
        </div>
        <br><br>
            <div class="row-lg-12 d-flex justify-content-center" style="margin-top: 80px;">
                <div class="col-lg-8 bg-secondary p-4 text-light" style="border-radius: 15px;">
                    <h6><strong>EMAIL</strong><span style="float: right;">&nbsp;<%=user.email %></span></h6><br>
                    <h6><strong>PHONE NUMBER</strong><span style="float: right;">&nbsp;<%= num %></span></h6><br>
                    <h6><strong>ADDRESS</strong><span style="float: right;">&nbsp;<%= address %></span></h6>
                </div>
            </div>
            <div class="row-lg-12 d-flex justify-content-center" >
                <div class="col-lg-12 sm-4 md-8">
                    <table class="table">
                        <h6><strong></strong><h2>Orders</h2> </h6><br>
                        <thead class="thead-dark">
                            <tr style="text-align: center;">
                                <th scope="col">S.No</th>
                                <th scope="col">OrderID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Items</th>
                                <th scope="col">Address</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% if(orders.length == 0 ){%>
                                <tr>
                                    <td colspan="8" align="center "><br><h3>You haven't placed any orders yet. Go to <a href="/shop" >Shop</a></h3></td>
                                </tr>
                                <% }%>


                            <% orders.forEach((order,index) => { %>
                                <tr style="background-color: rgb(219, 219, 219); text-align: center;">
                                    <td><%= index+1 %></td>
                                    <td><%= order.orderid %></td>
                                    <td><%= order.order_day %></td>
                                    <td>
                                        <% order.cart.products.forEach(function(product){%>
                                        <%= product.qty_purchased %> X <%= product.item_name %> <br>
                                        <% })%>
                                    </td>
                                    <td><%= order.address %></td>
                                    <td><%= order.total %></td>
                                    <td><%= order.orderStatus %></td>
                                    <td>
                                        <a href="/order-details/<%= order.orderid %>"><button type="button" class="btn btn-sm btn-warning">Details</button></a>
                                    </td>
                                </tr>
                            <% })%>
                            </tbody>
                    </table>
                </div>
            </div>
    </div>

    <%- include ("partials/footer") %>
</body>

</html>