<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <br />
    <br />
    <div class="container">
    <!-- Orders List -->
    <table class="table">
        <h5><strong>Orders:</strong></h5>
        <thead class="thead-dark">
            <tr>
                <th scope="col">OrderID</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Total Price</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Order Status</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach((order, index) => { %>
                <tr>
                    <th scope="row"><%= order.orderid %></th>
                    <td><%= order.phone_number %></td>
                    <td> ₹ <%= order.total %></td>
                    <td>
                        <%= order.order_day %>
                    </td>
                    <td>
                        <select id = '<%= order.id %>' name="orderStatus" class="p-1" onchange="document.getElementById('updateOrder<%=index+1%>' ).style.display = 'inline'">
                            <option value="Confirmed" <% if(order.orderStatus === 'Confirmed') { %> selected <% } %> >
                                Confirmed
                            </option>
                            <option value="Processing" <% if(order.orderStatus === 'Processing') { %> selected <% } %> >
                                Processing
                            </option>
                            <option value="Out For Delivery" <% if(order.orderStatus === 'Out For Delivery') { %> selected <% } %> >
                                Out For Delivery
                            </option>
                            <option value="Delivered" <% if(order.orderStatus === 'Delivered') { %> selected <% } %> >Delivered</option>
                        </select>
                    </td>
                    <td>
                        </a><button type="button" class="btn btn-sm btn-danger">Delete</button>
                        <button id="updateOrder<%=index+1%>" type="button" style="display: none;" class="btn btn-sm btn-warning" onclick="setStatus('<%= order.id %>')">Update</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <!-- Orders List Ends -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var id;
            var status;
            function setStatus(id) {
                console.log(id)
                status = document.getElementById(id).value
                url = `/updateStatus/${id}/${status}`
              $.ajax({
                  url: url,
                  success: function (result) {
                     if(result['success']==1){
                        document.getElementById(id).value = status
                        alert('Updated Successfully')  
                     }
                     else{
                         alert('Some error occured')
                     }
                  },
              });
          }
        </script>
</body>

</html>