<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <br />
    <br />
    <div class="container">
    <!-- Users List -->
    <div class="container">
        <a class="btn btn-outline-dark" href="javascript:history.back()" >&#x2190; Go Back</a>
        <hr>
        <table class="table">
            <h5><strong>Users:</strong></h5>
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Jate Joined</th>
                    <th scope="col">Email</th>
                    <th scope="col">Number</th>

                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>

                <% list.forEach(function(user){ %>
                <tr>
                    <td>
                    <% if(user.photoURL!=null){%>
                        <img src="<%= user.photoURL %>" style="width: 100px; height: 100px;" alt="profile image">
                    <% } else {%>
                        <img src="images/profile.webp" style="width: 100px; height: 100px;" alt="profile image">
                    <% }%>
                    </td>
                    <td><%= user.displayName %></td>
                    <td><%= user.metadata.creationTime %></td>
                    <td><%= user.email %></td>
                    <%if (user.phoneNumber){ value = user.phoneNumber} else {value =  'App User'} %>
                    <td><%= value %></td>
                    <td>
                        <a href="/userOrders/<%= user.uid %>"><button type="button" class="btn btn-lg btn-block btn-info">View Orders</button></a>
                    </td>
                </tr> 
                <% }) %>

            </tbody>
        </table>

        <!-- Users List Ends -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>