<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Nature Mushroom</title><link rel="icon" href="/images/logo.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">  

        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/animate/animate.css" />
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
         
        <!-- Start of Header Section -->
        <%- include("partials/header") %>        
        <!-- End Header Section -->

        <section id="slider" class="slider">
            <div class="slider_overlay">
            <div class="container">
                <h4 style="color: white; margin-top: 10rem;">Your Shipping Details</h4>
                <div class="row">
                    <br><br>
                    <div class="col-lg-12" style="background-color:whitesmoke; padding: 1rem; margin: 2rem;  border-radius: 10px;">

                        <a class="btn btn-primary" href="/cart">&#x2190; Back to Cart</a>
                        <hr>
                        <div class="container">
                            <h4>Fill the form and proceed to checkout.</h4>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box-element" id="form-wrapper">
                                        <form id="form" method="POST" action='/checkout'>
                                            <div id="user-info">
                                                <div class="form-field">
                                                    <label for="name">Name</label>
                                                    <input required class="form-control" type="text" name="name" placeholder="Name" value="<%= user.displayName %>" disabled >
                                                </div>
                                                <div class="form-field">
                                                    <label for="email">Email</label>
                                                    <input required class="form-control" type="email" name="email" placeholder="Email" value="<%= user.email %>" disabled>
                                                </div>
                                            </div>
                    
                                            <div id="shipping-info">
                                                <hr>
                                                <p><b>Shipping Information:</b></p>
                                                <hr>
                                                <div class="form-field">
                                                    <label for="Number">Number</label>
                                                    <input class="form-control" type="text" name="Number" placeholder="Number" value="<%= num %>" disabled>
                                                </div>
                                                <div class="form-field">
                                                    <label for="address">Address</label>
                                                    <input class="form-control" style="background-color: wheat;" type="text" name="address" placeholder="Address" value="<%= address %>">
                                                </div>
                                            </div>
                                            <br><br>
                                            <input class="btn btn-primary" type="submit" value="Make Payment">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                        <hr>
                                        <h2 style="color: black;">Order Summary</h2>
                                        <hr>
                    
                                        <table class="table">
                                            <thead>
                                                <th><h5>S.no.</th></h5>
                                                <th><h5>Item</th></h5>
                                                <th><h5>Price</th></h5>
                                                <th><h5>Qty</th></h5>
                                                <th><h5>Total</th></h5>
                                            </thead>
                        
                                            <% cart.products.forEach(function(item,index){%>
                                            <tr>
                                                <td>
                                                    <%= index+1 %>
                                                </td>
                                                <td>
                                                    <%= item.item_name %>
                                                </td>
                                                <td>
                                                    &#8377;<%= item.price %>
                                                </td>
                                                <td>
                                                    <%= item.qty_purchased %>
                                                </td>
                                                <td>
                                                    &#8377;<%= item.price * item.qty_purchased %>
                                                </td>
                                            </tr>
                                            <%})%>
                                        </table>
                        
                    
                                        <h5>Items: <%= cart.itemCount %></h5>
                                        <% var total = 0 %>
                                        <h5>Delivery Charges: 50</h5>
                                        <% cart.products.forEach(item=>{total+=item.price * item.qty_purchased})%>
                                        <h5>Total: &#8377;<%= total+50 %></h5>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>


        <!--Footer-Widget-->
        <%- include("partials/footer_widget") %> 

        <!--Footer-->
        <%- include('footer'); -%>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>		


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery-easing/jquery.easing.1.3.js"></script>
        <script src="assets/js/wow/wow.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        
        <script type="text/javascript" src="assets/js/contactFormHandler.js"></script>

    </body>
</html>
