<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Nature Mushroom</title><link rel="icon" href="/images/logo.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">  

        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/animate/animate.css" />
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
         
        <!-- Start of Header Section -->
        <%- include("partials/header") %>        
        <!-- End Header Section -->

        <section id="slider" class="slider">
            <div class="slider_overlay">
            <div class="container" >

                <div class="row-lg-12 text-center mx-auto" style="margin-top: 7rem;">
                    <% if(user.photoURL!=null){%>
                        <img src="<%= user.photoURL %>" style="width: 150px; height: 150px; object-fit: cover;  border: 2px solid white; border-radius: 3rem;" alt="John Doe" >
                    <% } else {%>
                        <img src="images/profile.webp" style="width: 150px; height: 150px; object-fit: cover;  border: 2px solid white; border-radius: 3rem;" alt="John Doe" >
                        <% }%>
                        <br>
                        <br>
                    <h4 style="font-size: 3rem; color:whitesmoke;"><%= user.displayName %></h4>
                    <hr>
                        <div style="color:whitesmoke; text-align:inherit;">
                    <h4 style="font-size: 1.5rem;">Email : <%=user.email %></h4>
                    <h4 style="font-size: 1.5rem;">Phone : <%= num %></h4>
                    <h4 style="font-size: 1.5rem;"> Address : <%= address %></h4>
                    <hr>
                </div>
                </div>

            
                <div  style="overflow-x:auto;">
                    <table class="table" style="background-color:whitesmoke; border-radius: 2rem; padding: 3rem;">
                        <h6><h4 style="color: aliceblue;"> Your Orders</h4> </h6><br>
                        <thead>
                            <tr>
                                <th scope="col"><h5>S.No</h5></th>
                                <th scope="col"><h5>OrderID</h5></th>
                                <th scope="col"><h5>Date</h5></th>
                                <th scope="col"><h5>Items</h5></th>
                                <th scope="col"><h5>Address</h5></th>
                                <th scope="col"><h5>Total</h5></th>
                                <th scope="col"><h5>Status</h5></th>
                                <th scope="col"><h5>Operations</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% if(orders.length == 0 ){%>
                                <tr>
                                    <td colspan="8" align="center "><br><h3>You haven't placed any orders yet. Go to <a href="/shop" >Shop</a></h3></td>
                                </tr>
                                <% }%>
    
    
                            <% orders.forEach((order,index) => { %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td><%= order.orderid %></td>
                                    <td><%= order.order_day %></td>
                                    <td>
                                        <% order.cart.products.forEach(function(product){%>
                                        <%= product.qty_purchased %> X <%= product.item_name %> <br>
                                        <% })%>
                                    </td>
                                    <td><%= order.address %></td>
                                    <td><%= order.total %></td>
                                    <td><%= order.orderStatus %></td>
                                    <td>
                                        <a href="/order-details/<%= order.orderid %>"><button type="button" class="btn btn-sm btn-warning">Details</button></a>
                                    </td>
                                </tr>
                            <% })%>
                            </tbody>
                    </table>
                </div>
                

                <!-- <div style="margin: 7rem;">
                        <div class="row text-center" style="position: absolute; left: 0; right: 0;">
                            <% if(user.photoURL!=null){%>
                                <img src="<%= user.photoURL %>" style="width: 130px; height: 130px; object-fit: cover; object-position: top; border: 4px solid white;" alt="John Doe" class="card-img-top rounded-circle">
                            <% } else {%>
                                <img src="images/profile.webp" style="width: 130px; height: 130px; object-fit: cover; object-position: top; border: 4px solid white;" alt="John Doe" class="card-img-top rounded-circle">
                                <% }%>
                            <h3 class="display-4 p-3"><%= user.displayName %></h3>
                    </div>
                        <div >
                            <div>
                                <h6><strong>EMAIL</strong><span style="float: right;">&nbsp;<%=user.email %></span></h6><br>
                                <h6><strong>PHONE NUMBER</strong><span style="float: right;">&nbsp;<%= num %></span></h6><br>
                                <h6><strong>ADDRESS</strong><span style="float: right;">&nbsp;<%= address %></span></h6>
                            </div>
                        </div>
                        <table class="table">
                            <h6><strong></strong><h2>Orders</h2> </h6><br>
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col">S.No</th>
                                    <th scope="col">OrderID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% if(orders.length == 0 ){%>
                                    <tr>
                                        <td colspan="8" align="center "><br><h3>You haven't placed any orders yet. Go to <a href="/shop" >Shop</a></h3></td>
                                    </tr>
                                    <% }%>
    
    
                                <% orders.forEach((order,index) => { %>
                                    <tr style="background-color: rgb(219, 219, 219); text-align: center;">
                                        <td><%= index+1 %></td>
                                        <td><%= order.orderid %></td>
                                        <td><%= order.order_day %></td>
                                        <td>
                                            <% order.cart.products.forEach(function(product){%>
                                            <%= product.qty_purchased %> X <%= product.item_name %> <br>
                                            <% })%>
                                        </td>
                                        <td><%= order.address %></td>
                                        <td><%= order.total %></td>
                                        <td><%= order.orderStatus %></td>
                                        <td>
                                            <a href="/order-details/<%= order.orderid %>"><button type="button" class="btn btn-sm btn-warning">Details</button></a>
                                        </td>
                                    </tr>
                                <% })%>
                                </tbody>
                        </table>
                </div>
                 -->
            </div>
            </div>
        </section>


        <!--Footer-Widget-->
        <%- include("partials/footer_widget") %> 

        <!--Footer-->
        <%- include('footer'); -%>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>		


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery-easing/jquery.easing.1.3.js"></script>
        <script src="assets/js/wow/wow.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        
        <script type="text/javascript" src="assets/js/contactFormHandler.js"></script>

    </body>
</html>
