<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Nature Mushroom</title><link rel="icon" href="/images/logo.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">  

        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/animate/animate.css" />
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        
        <!-- Start of Header Section -->
        <%- include("partials/header") %>        
        <!-- End Header Section -->

        <section id="slider" class="slider">
            <div class="slider_overlay">
            <div class="container">
                <div class="container" style="background-color:whitesmoke; padding: 2rem; margin: 3rem;  border-radius: 10px; margin-top: 10rem;">
                    <a class="btn btn-primary" href="/client-profile" >&#x2190; My Profile</a>
                    <br><hr>
            
                <!-- Edit User -->
                <h5><strong>Edit Profile:<strong></strong></h5>
                                  <div class="col-sm-12">
                <form action="/updateDetails" method="POST" oninput='newpassword.setCustomValidity(newpassword.value != password.value ? "Passwords do not match." : "")' >
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" style="background-color:beige;" class="form-control" id="name" name="name" value="<%= user.displayName %>" oninput="document.getElementById('fakeSubmit').style.display = 'block'" required/>
                    </div>
                    <div class="form-group">
                        <label for="password1">New Password:</label>
                        <input type="password" style="background-color:beige;"class="form-control" id="password1" name="password" oninput="document.getElementById('fakeSubmit').style.display = 'block'" />
                        <label for="password2">Re-enter Password:</label>
                        <input type="password" style="background-color:beige;"class="form-control" id="password2" name="newpassword" oninput="document.getElementById('fakeSubmit').style.display = 'block'" />
                    </div>
                    <div>
                        <label for="address">Address:</label>
                        <textarea class="form-control mb-3" style="background-color:beige;"id="address" name="address" oninput="document.getElementById('fakeSubmit').style.display = 'block'" required><%= address %></textarea>
                    </div>
                    <label for="phoneNumber">Phone Number</label>
                    <div class="input-group mb-2" style="width: 100%;">
                        <% if(num){ var value = parseInt(num.substr(3, 13))} %>
                        <input type="text" style="background-color:beige;" class="form-control" id="phoneNumber" value="<%= value %>"  name="phoneNumber" placeholder="Phone No." oninput="document.getElementById('fakeSubmit').style.display = 'block'" required>
                    </div>
                    <br>
                    <center><button class="btn btn-primary" id="fakeSubmit" onclick="handleSubmit(event)" >SUBMIT</button></center>
                    <center><button type="submit" class="btn btn-outline-light mt-4 px-3" id="realSubmit" style="display: none;">Hidden</button></center>
                </form>
                
            </div>
            </div>
        </section>
        

        <!--Footer-Widget-->
        <%- include("partials/footer_widget") %> 
        <!--Footer-->
        <%- include('footer'); -%>
		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>		


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery-easing/jquery.easing.1.3.js"></script>
        <script src="assets/js/wow/wow.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

        <script type="text/javascript" src="assets/js/contactFormHandler.js"></script>

        <script>
            var mess = '<%- message %>'
        if(mess!='false'){
            alert(mess)
        }
            function handleSubmit(event) {
                event.preventDefault()            
                document.getElementById('phoneNumber').value = '+91' + document.getElementById('phoneNumber').value
                document.getElementById('realSubmit').click()
            }
        </script>
        </script>
    </body>
</html>
