<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Nature Mushroom</title>
    <link rel="icon" href="/images/logo.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <!-- Fontawesome 5.14.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!--For Plugins external css-->
    <link rel="stylesheet" href="assets/css/animate/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        var prods = '<%- JSON.stringify(products) %>';
        var test = JSON.parse(prods)
        var cart = {
            products: [],
            itemCount: 0
        }
        var ucart = JSON.parse('<%- JSON.stringify(usercart) %>')
        var cart = ucart;

        const setPage = () => {
            if (cart.itemCount != '0') {

                document.getElementById('checkoutBtnFab').style.display = 'block';
            } else {
                document.getElementById('checkoutBtnFab').style.display = 'none';
            }

            cart.products.forEach(item => {
                var index = 0
                test.forEach(prod => {
                    if (item.id === prod.id)
                        document.getElementById(index).innerHTML = item.qty_purchased
                    else
                        index++;
                })
            })
        }
        const gotoCart = () => {
            if (cart.itemCount != 0) {
                $.post('/cart', {
                    cart: cart
                }, function(response) {
                    window.location.replace("/cart")
                });
            } else {
                alert("Select some items before proceeding");
            }

        }
        const addProduct = index => {
            // console.log(test[index])
            const i = cart.products.findIndex(item => item.id === test[index].id)
            if (i !== -1) { //if item exists
                if (cart.products[i].qty_purchased < cart.products[i].qty_available) {
                    cart.products[i].qty_purchased++
                        document.getElementById(index).innerHTML = cart.products[i].qty_purchased;
                    cart.itemCount++
                } else {
                    alert('Item not in Stock')
                }

            } else {
                //if item not exist
                if (test[index].qty_available == 0) {
                    alert('Item not in Stock')
                } else {
                    cart.products.push({
                        ...test[index],
                        qty_purchased: 1
                    })
                    document.getElementById(index).innerHTML = 1;
                    cart.itemCount++
                }

            }
            if (cart.itemCount != '0') {
                document.getElementById('checkoutBtnFab').style.display = 'block';
            } else {
                document.getElementById('checkoutBtnFab').style.display = 'none';
            }
            // console.log(cart)
        }
        const removeProduct = index => {
            const i = cart.products.findIndex(item => item.id === test[index].id)
            if (i === -1) {
                // console.log('Item not in cart')
                return
            } else if (cart.products[i].qty_purchased <= 1) {
                cart.products = cart.products.filter(item => item.id != test[index].id)
                document.getElementById(index).innerHTML = 0;
            } else {
                cart.products[i].qty_purchased--
                    document.getElementById(index).innerHTML = cart.products[i].qty_purchased;
            }
            cart.itemCount--
                // console.log(cart)
                if (cart.itemCount != '0') {
                    document.getElementById('checkoutBtnFab').style.display = 'block';
                } else {
                    document.getElementById('checkoutBtnFab').style.display = 'none';
                }
        }
    </script>
    <style>
         ::-webkit-scrollbar {
            display: none;
        }
        
        .fab-button {
            z-index: 2;
            margin-top: 40px;
            position: fixed;
            right: 50px;
            bottom: 50px;
            border-radius: 100px;
            box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.75);
        }
    </style>
</head>

<body onload="setPage()">
    <div class="btn btn-success fab-button px-3 py-2" style="display: none;" id="checkoutBtnFab" onclick="gotoCart()">
        <p class="pr-1" style="display:inline; vertical-align: top;"><span>CHECKOUT</span></p>
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
    </div>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>
    
    <!-- Start of Header Section -->
    <%- include("partials/header") %>        
    <!-- End Header Section -->


    <section id="slider" class="slider">
        <div class="slider_overlay">
            <div class="container">
                <h4 style="color: white; margin-top: 10rem;">Our Tasty & Healty Mushrooms</h4>
                <div class="row">
                    <br><br>
                    <% products.forEach((product,index) => { %>
                        <div class="col-md-4 rounded" style="padding: 2rem;">
                            <div style="width: 350px; background-color:whitesmoke; padding: 1rem;  border-radius: 10px;" class="mx-auto p-3">
                                <img src="<%= product.image_url %>" alt="mushroom" class="thumbnail" style="border-top-left-radius: 10px; border-top-right-radius: 10px; width: 310px;
                                     height: 260px;
                                     object-fit: cover;">
                                <div class="box-element product card-img-top mb-4" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    <div>
                                        <h5 style="display: inline; vertical-align: middle;">
                                            <b><%= product.item_name %></b>
                                            <hr>
                                            <h6><strong>&#8377;<%= product.price%>/packet(250g)</strong></h6>
                                        </h5>
                                    </div>
                                    <p style="text-align: justify; min-height: 70px; max-height: 100px;">
                                        <%= product.item_description %>
                                    </p>
                                    <h5 class="mb-3"><b>Available: <%= product.qty_available %></b></h5>
                                    <center>
                                        <div class="btn-group " role="group" aria-label="Basic example">
                                            <button data-product=1 data-action="add" type="button" class="btn btn-secondary add-btn update-cart" onclick="addProduct('<%- index %>')" style="border-top-left-radius: 7px; border-bottom-left-radius: 7px; background-color: bisque;">+</button>
                                            <span id='<%- index %>' style="background-color: bisque;" class="btn btn-secondary">0</span>
                                            <button data-product=1 data-action="remove" type="button" class="btn btn-secondary add-btn update-cart" onclick="removeProduct('<%- index %>')" style="border-top-right-radius: 7px; border-bottom-right-radius: 7px; background-color: bisque;">-</button>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <% })%>
                </div>
            </div>
        </div>
    </section>

    
    <!--Footer-Widget-->
    <%- include("partials/footer_widget") %> 

    <!--Footer-->
    <%- include('footer'); -%>

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>


    <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <script src="assets/js/jquery-easing/jquery.easing.1.3.js"></script>
    <script src="assets/js/wow/wow.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>

    <script type="text/javascript" src="assets/js/contactFormHandler.js"></script>

</body>

</html>